@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    @apply bg-lightblack text-lightwhite;
  }
  body {
    @apply font-halyard text-base;
  }

  h1 {
    @apply font-itc font-bold lg:text-5xl text-2xl;
  }
  h2 {
    @apply font-itc font-bold lg:text-4xl text-xl;
  }
  h3 {
    @apply font-itc lg:text-3xl text-lg;
  }
  h4 {
    @apply font-itc font-bold lg:text-2xl text-lg;
  }
  h5 {
    @apply font-itc font-bold lg:text-xl text-lg;
  }
  h6 {
    @apply font-itc font-medium lg:text-lg text-base;
  }
  p {
    @apply mb-4 lg:text-base text-sm;
  }
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@layer components {
  .btn {
    @apply appearance-none bg-none block border-lightwhite border-2 hover:border-transparent text-lightwhite hover:bg-purple hover:text-lightblack font-semibold rounded-full px-5 pt-2 pb-1 text-center transition-all cursor-pointer;
  }

  .btn-style {
    @apply w-fit bg-none block font-itc font-bold border-lightwhite border-2 rounded-full px-8 pt-2.5 pb-0.5 text-center;
  }

  .menu-list {
    @apply flex;
  }

  .menu-item {
    @apply p-3 grid grid-cols-[1fr,30px] gap-3;
  }

  .menu-link {
    @apply text-lightwhite font-itc font-medium text-xl no-underline text-right;
  }

  .footer {
    @apply text-lightwhite font-itc font-medium text-base;
  }

  .footer-socials {
    @apply xl:grid grid-cols-2 grid-rows-2 xl:gap-y-4 xl:gap-x-4 py-4 flex flex-col gap-2;
  }

  .footer-socials-item {
    @apply grid grid-cols-[30px,auto] items-center text-lg gap-2;
  }

  .footer-socials-link {
    @apply no-underline -mb-2;
  }

  .giant-graphic {
    background: var(
      --Gradient3,
      linear-gradient(270deg, #9d70ff 0%, #d6c2fe 33%, #fdc6b3 66%, #fd4505 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -5rem;
  }

  .giant-graphic-stroke {
    color: #212121;
    background: var(
      --Gradient3,
      linear-gradient(270deg, #9d70ff 0%, #d6c2fe 33%, #fdc6b3 66%, #fd4505 100%)
    );
    background-clip: text;
    -webkit-text-stroke: 8px transparent;
    -webkit-background-clip: text;
  }

  .stroke-2 {
    color: #212121;
    -webkit-text-stroke: 8px transparent;
    -webkit-background-clip: text;
  }

  .no-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .div-graphic {
    width: max-content;
    background: var(
      --Gradient3,
      linear-gradient(270deg, #9d70ff 0%, #d6c2fe 40%, #fdc6b3 60%, #fd4505 100%)
    );
    background-clip: text;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(90vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scrolling {
    animation: scrolling 25s linear infinite;
  }

  .background-hero {
    background-image: url('/background-img.jpg');
  }

  .herogrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 400px;
    gap: 5%; /* Ajustez cette valeur en fonction de votre préférence */
    margin: 25px 0;

    @media (min-width: 768px) {
      gap: 2%; /* Ajustez cette valeur pour un espacement plus petit sur les écrans plus grands */
      column-gap: 5%;
      row-gap: 10%;
      margin-bottom: 50px;
    }
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 1 / -1;
  }
  .div3 {
    grid-area: 2 / 3 / 2 / -1;
  }

  .margins {
    margin: 0 25px;
    @media (min-width: 768px) {
      margin: 0 5vw;
    }
  }

  @keyframes var-font-anim {
    0% {
      font-variation-settings: 'wght' 300;
    }
    30% {
      font-variation-settings: 'wght' 600;
    }
    60% {
      font-variation-settings: 'wght' 600;
    }
    90% {
      font-variation-settings: 'wght' 300;
    }
    100% {
      font-variation-settings: 'wght' 300;
    }
  }

  .var-font {
    animation: var-font-anim 5s infinite cubic-bezier(0.4, 0, 0.2, 1);
    transition: font-variation-settings 0.5s ease;
  }

  .about-list p  {
    @apply text-base;
  }
  .about-list h2  {
    @apply pt-10 pb-4 text-center;
  }
  /* .about-list li  {
    @apply text-center;
  } */

  .about-skills {
    @apply flex items-center gap-2 pb-2 w-fit;
  }
}
